<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Auth - akeurope</title>
    <!-- CSS files -->
    <link href="/tabler/css/tabler.min.css?1692870487" rel="stylesheet" />
    <link href="/tabler/css/tabler-flags.min.css?1692870487" rel="stylesheet" />
    <link href="/tabler/css/tabler-payments.min.css?1692870487" rel="stylesheet" />
    <link href="/tabler/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
    <link href="/tabler/css/demo.min.css?1692870487" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap" rel="stylesheet">

    <style>
        @import url('https://rsms.me/inter/inter.css');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

        :root {
            --tblr-font-sans-serif: 'Noto Sans Arabic', 'Tajawal', 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
            font-family: var(--tblr-font-sans-serif);
            font-size: 16px;
        }

        .btn-primary,
        input:not([type="file"]) {
            height: 3rem;
        }

        .otp-input {
            border: none;
            background: #9e9e9e1f;
            border-radius: 6px;
        }

        .form-label.arabic,
        input {
            font-size: 16px;
        }

        .is-invalid {
            border: 2px solid !important;  
            border-radius: 5px !important;
            border-color: var(--tblr-form-invalid-border-color) !important;
        }

        .is-valid {
            border: 2px solid !important;  
            border-radius: 5px !important;
            border-color: var(--tblr-form-valid-border-color) !important;
        }
    </style>


</head>

<body class=" d-flex flex-column">
    <script src="/tabler/js/demo-theme.min.js?1692870487"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {{{body}}}
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/tabler/js/tabler.min.js?1692870487" defer></script>
    <script src="/tabler/js/demo.min.js?1692870487" defer></script>
</body>

</html>