<div class="page">

  <div class="container col-12 col-lg-6 py-4">
    <div class="card">
      <div class="card-body">
        <h2 class="h2 text-center mb-4"></h2>
        <div class="mb-3" {{#if data.rtl}}dir="rtl" {{/if}}>
          {{{data.formFields}}}
        </div>
        <div class="form-footer">
          <button id="submit" type="submit" class="btn btn-primary w-100">إنقاذ اليتيم</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>


  const uploadImage = function (elem) {
    const fileInput = $(elem).find("input[type=file]");
    fileInput[0].click();
    fileInput.off('change').on('change', function () {
      let elem = $(this);
      let inputName = $(this).attr("name");
      if (event.target.files && event.target.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(elem).closest(".image-upload").find("img").attr("src", e.target.result);
        };

        reader.readAsDataURL(event.target.files[0]);

        var formData = new FormData();
        formData.append('image', event.target.files[0]);
        formData.append('folderName', `akeurope/akeurope_forms/orphan-form/${inputName}`);
        formData.append('entryId', $(elem).closest(".modal").attr("entryId"));

        $(elem).closest(".image-upload").find(".btn").html(`<span class="spinner-border spinner-border-sm" role="status"></span>`);

        $.ajax({
          url: '/upload-image',
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            $(elem).closest(".image-upload").find(".cloudinaryUrl").val(response.cloudinaryUrl);
            $(elem).closest(".image-upload").find(".btn").html(`
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
              `);
            $(elem).closest(".image-upload").find("img").attr("src", response.cloudinaryUrl);
            $(elem).closest('.image-upload').find('[data-fslightbox]').attr({ href: response.cloudinaryUrl });
          },
          error: function (error) {
            $(elem).closest(".image-upload").find(".btn").html(`
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
              `);
            alert("Error uploading image:", error);
          }
        });
      }
    });
  }

</script>