<!DOCTYPE html>
<html>

<head>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
  <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
    <div style="text-align: center">
      <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png"
        style="height: 35px; margin-bottom: 20px; margin-top: 20px" />
    </div>
    <h2 style="color: #333333;">Alkhidmat Europe - Verification Code</h2>
    <p style="color: #333333;">Assalam o Alaikum,</p>
    <p style="color: #333333; line-height: 1.5rem">
      Your email verification code is: {{code}}
    </p>
    <p style="color: #333333; line-height: 1.5rem">If you didn’t expect this invitation, please ignore this email.</p>
    <p style="color: #333333; line-height: 1.5rem">Thank you,<br>Alkhidmat Europe Team<br><a href="https://akeurope.org"
        style="text-decoration: none; color: #007A78">akeurope.org</a></p>
  </div>
</body>

</html>